@import url('./fonts.css');

* {
  box-sizing: border-box;
}

:root {
  font-family: 'Saira Condensed', Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;

  --brand-color-primary-rgb: 210, 31, 60;
  --brand-color-secondary-rgb: 247, 187, 43;
  --brand-neutral-light-rgb: 229, 230, 232;
  --brand-neutral-dark-rgb: 29, 26, 32;

  --brand-color-primary: rgb(var(--brand-color-primary-rgb));
  --brand-color-secondary: rgb(var(--brand-color-secondary-rgb));
  --brand-neutral-light: rgb(var(--brand-neutral-light-rgb));
  --brand-neutral-dark: rgb(var(--brand-neutral-dark-rgb));

  --button-glow-color-rgb: 146, 188, 233;

  --button-glow-color: rgba(var(--button-glow-color-rgb), 0.9);

  color-scheme: light dark;
  color: var(--brand-neutral-light);
  background-color: var(--brand-neutral-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0;
  text-align: center;
  width: 100%;
}

a {
  font-weight: 500;
  color: var(--brand-color-secondary);
  text-decoration: inherit;
  user-select: none;
  transition: color 100ms ease-in-out;
}
a:hover {
  color: rgba(var(--brand-color-secondary-rgb), 0.8);
}

body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--brand-color-primary);
  background: url(./images/static_bkg.png) no-repeat center center fixed;
}

h1 {
  font-family: 'Saira Extra Condensed', 'Saira Condensed', sans-serif;
  font-style: italic;
  font-weight: 800;
  font-size: 1.8em;
  line-height: 1.1;
  text-transform: uppercase;
  user-select: none;
  margin: 0;
}

h2 {
  font-family: 'Saira Extra Condensed', 'Saira Condensed', sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.2;
  text-transform: uppercase;
  user-select: none;
  margin: 0;
}

span {
  white-space: nowrap;
}

@keyframes button-glow {
  from {
    box-shadow: 0 0 2px 1px var(--brand-neutral-light),
      0 0 4px 2px var(--button-glow-color),
      0 0 16px 2px var(--button-glow-color);
  }
  to {
    box-shadow: 0 0 2px 1px var(--brand-neutral-light),
      0 0 4px 2px var(--button-glow-color),
      0 0 18px 8px var(--button-glow-color);
  }
}
